* {
  float: none;
  background: #fff;
  color: #000;
}

body { font-size: 80%; }
/*
     FILE ARCHIVED ON 10:51:16 Feb 01, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:51:16 Sep 19, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.52
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.008
  esindex: 0.01
  cdx.remote: 60.612
  LoadShardBlock: 76.257 (3)
  PetaboxLoader3.datanode: 265.056 (5)
  load_resource: 798.727 (2)
  PetaboxLoader3.resolve: 485.036 (2)
*/